<a href="https://colab.research.google.com/github/dayanandtekale/Training2/blob/main/first.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello,Welcome to the PWC")

Hello,Welcome to the PWC

In [ ]:
a=2
b=3
print(a+b)

5

In [ ]:
a="Hello Good Morning"
b=23.33
c=12
print(a,b,c)

Hello Good Morning 23.33 12

In [ ]:
a=30
b=20.66
c=5+6j
print(a,b,c)

30 20.66 (5+6j)

In [ ]:
#type Conversion
a=30
b=20.55
c=3+3j
print(int(b),str(c),float(a))

20 (3+3j) 30.0

In [ ]:
list=[10,20,30,10,50]
list.insert(2,"JaiRam")
list.insert(2,"Dada")

print(list)

[10, 20, 'Dada', 'JaiRam', 30, 10, 50]

In [ ]:
list.index("JaiRam")

3

In [ ]:
list

[10, 20]

In [ ]:
list

[10, 20]

In [ ]:
list.append(30)
list

[10, 20, 30]

In [ ]:
list[: :-1]
list

[10, 20, 30]

In [ ]:
list.sort(reverse=True)
list

[30, 20, 10]

In [ ]:
list[::-1]
list

[30, 20, 10]

In [ ]:
list.clear()

In [ ]:
#Tuple

tuple=(10,20,30,'Daya','Aarati')
tuple

(10, 20, 30, 'Daya', 'Aarati')

In [ ]:
tuple=tuple*2
tuple

(10, 20, 30, 'Daya', 'Aarati', 10, 20, 30, 'Daya', 'Aarati')

In [ ]:
print(tuple[0:4])

(10, 20, 30, 'Daya')

In [ ]:
print(tuple[0:3])

(10, 20, 30)

In [ ]:
#Dictionary
d={1:10,2:200,3:300,4:'Daya',5:'Ravi'}
d

{1: 10, 2: 200, 3: 300, 4: 'Daya', 5: 'Ravi'}

In [ ]:
d[2]=600
d

{1: 10, 2: 600, 3: 300, 4: 'Daya', 5: 'Ravi'}

In [ ]:
d[0]='Daya'
d[4]=600
d

{0: 'Daya', 1: 10, 2: 600, 3: 300, 4: 600, 5: 'Ravi'}

In [ ]:
pizza ={ 'Name' :['Daya', 'Balaji'],
         'Codes': ['111','222'],
          'Shop': ['Dominos','Showroom']} 

#pizza
#pizza.keys()
#pizza.values()  
len(pizza)

dict_values([['Daya', 'Balaji'], ['111', '222'], ['Dominos', 'Showroom']])

In [ ]:
# empty dictionary
my_dict = {}

In [ ]:
# dictionary with integer keys
my_dict = {1: 'apple', 2: 'ball'}

In [ ]:
# dictionary with mixed keys
my_dict = {'name': 'John', 1: [2, 4, 3]}

In [ ]:
# using dict()
my_dict = dict({1:'apple', 2:'ball'})

In [ ]:
# from sequence having each item as a pair
my_dict = dict([(1,'apple'), (2,'ball')])

In [ ]:
# get vs [] for retrieving elements
my_dict = {'name': 'Jack', 'age': 26}

# Output: Jack
print(my_dict['name'])

# Output: 26
print(my_dict.get('age'))

# Trying to access keys which doesn't exist throws error
# Output None
print(my_dict.get('address'))

# KeyError
print(my_dict['address'])

Jack
26
None

KeyError: ignored

In [ ]:
# Changing and adding Dictionary Elements
my_dict = {'name': 'Jack', 'age': 26}

# update value
my_dict['age'] = 27

#Output: {'age': 27, 'name': 'Jack'}
print(my_dict)

# add item
my_dict['address'] = 'Downtown'

# Output: {'address': 'Downtown', 'age': 27, 'name': 'Jack'}
print(my_dict)

In [ ]:
# Removing elements from a dictionary

# create a dictionary
squares = {1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

# remove a particular item, returns its value
print(squares.pop(4))

In [ ]:
print(squares)

# remove an arbitrary item, return (key,value)
print(squares.popitem())

print(squares)

# remove all items
squares.clear()


print(squares)

# delete the dictionary itself
del squares


# Throws Error
print(squares)

In [ ]:
#String

print("Hello")

Hello

In [ ]:
a = "Hello"
print(a)

Hello

In [ ]:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [ ]:
a = "Hello, World!"
print(a[1])

e

In [ ]:
for x in "banana":
  print(x)

b
a
n
a
n
a

In [ ]:
a = "Hello, World!"
print(len(a))

13

In [ ]:
a

'Hello, World!'

In [ ]:
b = "Hello, World!"
print(b[2:5])

llo

In [ ]:
#sets:

x={1,2,3,4,5}
y={2,3,11,12,6,7}
print(x,y)

{1, 2, 3, 4, 5} {2, 3, 6, 7, 11, 12}

In [ ]:
print(x|y)

{1, 2, 3, 4, 5, 6, 7, 11, 12}

In [ ]:
print(x&y)

{2, 3}

In [ ]:
print(x-y)

{1, 4, 5}

In [ ]:
#Symmetry
print(x^y)

{1, 4, 5, 6, 7, 11, 12}

In [ ]:
#Slicing

S="Hyderabad"
print(S)
print(S[1:4])
print(S[0:7:1])
print(S[0:7:2])
print(S[1:-5])
print(S[1::1])
print(S[1:200])
print(S[:6])
print(S[1:1:1])
print(S[1:8:3])
print(S*10)

Hyderabad
yde
Hyderab
Hdrb
yde
yderabad
yderabad
Hydera

yra
HyderabadHyderabadHyderabadHyderabadHyderabadHyderabadHyderabadHyderabadHyderabadHyderabad

In [ ]:
#for loop

str="training"
for i in str:
print(i)

IndentationError: ignored

In [ ]:
list=[1,2,3,4,5,6,7,8]

n=6
for i in list:
  x=n*1
  print(x)

6
6
6
6
6
6
6
6

In [ ]:
#Numeric Data Types:
#int
x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

In [ ]:
#Float
x = 1.10
y = 1.0
z = -35.59

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [ ]:
#Complex
x = 3+5j
y = 5j
z = -5j

print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

In [ ]:
#String:
a = "Hello"
print(a)

Hello

In [ ]:
#List

a = ["apple", "banana", "cherry"]
print(a)

['apple', 'banana', 'cherry']

In [ ]:
#Tuples
a = ("apple", "banana", "cherry")
print(a)

('apple', 'banana', 'cherry')

In [ ]:
#Sets
a = {"apple", "banana", "cherry"}
print(a)

{'apple', 'banana', 'cherry'}

In [ ]:
#Dict
a = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(a)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [ ]:
#For loop
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

In [ ]:
#Identity

x=60
y=60
if x in y:
  print('It is similar')
    else
        print('It is not similar')

IndentationError: ignored

In [ ]:
#Function
def my_function():
  print("Hello from a function")
my_function()

Hello from a function

In [ ]:
#funtions
#1_Built in function 

integer = -40
print('absolute value of -40 is:',abs(integer))

absolute value of -40 is: 40

In [ ]:
float =-6.54
print('absolute value of -6.54 is:',abs(float))

absolute value of -6.54 is: 6.54

In [ ]:
complex=10+6j
print('absolute value of 10+6j is:',abs(complex))

absolute value of 10+6j is: 11.661903789690601

In [ ]:
#2_All function---Contains true value output is true, Any False(0) then output is False
i=[1,2,5,6,8]
print(all(i))

True

In [ ]:
i=[1,2,3,4,0]
print(all(i))

False

In [ ]:
l=[]
print(all(l))

True

In [ ]:
#Ascii Function

normalText = 'Python is interesting'
print(ascii(normalText))

otherText = 'Pyth√∂n is interesting'
print(ascii(otherText))

print('Pythn is interesting')

'Python is interesting'
'Pyth\xf6n is interesting'
Pythn is interesting

In [ ]:
#Binary Functions
number=36
print('The binary Equivalent of 36 is:',bin(number))

The binary Equivalent of 36 is: 0b100100

In [ ]:
#Bool Function

abcd=[]
print(abcd,'is',bool(abcd))

[] is False

In [ ]:
abcd=0.1
print(abcd,'is',bool(abcd))

0.1 is True

In [ ]:
abcd=None
print(abcd,'is',bool(abcd))

None is False

In [ ]:
abcd=True
print(abcd,'is',bool(abcd))

True is True

In [ ]:
abcd='Python is easy'
print(abcd,'is',bool(abcd))

Python is easy is True

In [ ]:
#dictionary_function
numbers=dict(x=8,y='abcd')
print('numbers=',numbers)
print(type(numbers))

numbers= {'x': 8, 'y': 'abcd'}
<class 'dict'>

In [ ]:
#eumerator_function
capitals=['Banglore','Mumbai','Chennai']
enumeratecapitals=enumerate(capitals)
print(type(enumeratecapitals))
print(list(enumeratecapitals))
enumeratecapitals=enumerate(capitals,20)
print(list(enumeratecapitals))

<class 'enumerate'>
[(0, 'Banglore'), (1, 'Mumbai'), (2, 'Chennai')]
[(20, 'Banglore'), (21, 'Mumbai'), (22, 'Chennai')]

In [ ]:
#Eval_function
m=100
print(eval('m+1'))

x='print(50,61)'
eval(x)

101
50 61

In [ ]:
alphabet = ['a','b','c','d','e','i','j','o']
def filtervowel(alphabet):
  vowels=['a','e','i','o','u']

 

  if (alphabet in vowels):
    return True
  else:
    return False

 

filteredvowels = filter(filtervowel, alphabet)
for vowel in filteredvowels:
  print(vowel)

a
e
i
o

In [ ]:
ages = [5, 12, 17, 18, 24, 32]

def myFunc(x):
  if x < 18:
    return False
  else:
    return True

 

adults = filter(myFunc, ages)

 

for x in adults:
  print(x)

18
24
32

In [ ]:
#getattribute function
class person:
  age=23
  name='Daya'
person=person()
print('The age is:',getattr(person,'age'))
print('The age is:',person.age)

The age is: 23
The age is: 23

In [ ]:
#length_function
abcd=[]
print(abcd,'length is',len(abcd))

[] length is 0

In [ ]:
pqrs=(1,2,3,4,5)
print(pqrs,'length is',len(pqrs))

(1, 2, 3, 4, 5) length is 5

In [ ]:
#maximum_function

print('The maximum is:',max(1,2,3,4,5,6,7))

print('maximum is:',max('NeelAmolArya'))

number=[11,44,66.7,89]
print('maximum is:',max(number))

The maximum is: 7
maximum is: y
maximum is: 89

In [ ]:
#minimum_function
number=[11,44,66.7,89]
print('minimum is:',min(number))

print('minimum is:',min('NeelAmolArya'))

minimum is: 11
minimum is: A

In [ ]:
#Recursion

def tri_recursion(k):
  if(k > 0):
    result = k + tri_recursion(k - 1)
    print(result)
  else:
    result = 0
  return result

print("\n\nRecursion Example Results")
tri_recursion(6)

Recursion Example Results
1
3
6
10
15
21

21

In [ ]:
#Recursion function
def recur_fact(n):
  if n==1:
    return 1
  else:
    return (n)*recur_fact(n-1)
num=4
if num<0:
  print('Does not exist for -ve numbers')
elif num==0:
  print('The factorial of 0 is 1')
else:
  print('The factorial of:',num,'is',recur_fact(num))

The factorial of: 4 is 24

In [ ]:
#lambda_Function
x=lambda a:a+10
print(x(5))

x=lambda a,b:a*b
print(x(5,6))

x = lambda a, b, c : a + b + c
print(x(5, 6, 2))

def myfunc(n):
  return lambda a : a * n
mydoubler = myfunc(2)
print(mydoubler(11))

15
30
13
22

In [ ]:
#User defined function

def add_numbers(x,y):
  sum=x + y
  return sum
num1=33
num2=60
print("The Sum is",add_numbers(num1,num2))

The Sum is 93

In [ ]:
#OOPS

class employee():
  def __init__(self, Name, Age, Id, salary):
    self.Name=Name
    self.Age=Age
    self.Id=Id
    self.salary=salary

emp1=employee("Dayanand",23,1234,350000)  
emp2=employee("Daya",23,1334,360000)  
emp3=employee("Ram",24,1235,370000)  
print(emp2.__init__)

<bound method employee.__init__ of <__main__.employee object at 0x7fc2e990d2d0>>

In [ ]:
#Inheritance

class Person:
  def __init__(self, fname, lname):
    self.firstname = fname
    self.lastname = lname

  def printname(self):
    print(self.firstname, self.lastname)

x = Person("Daya", "Reddy")
x.printname()

Daya Reddy

In [ ]:
#Single Level Inheritance
class p:
  def m1(self):
    print("Parent Method")
class C(p):
  def m2(self):
    print("Child Method")
c=C()
c.m1()
c.m2()

Parent Method
Child Method

In [ ]:
#Single Level Inheritance Example2
class employee1():
  def __init__(self, Name, Age, Id, salary):
    self.Name=Name
    self.Age=Age
    self.Id=Id
    self.salary=salary

class childemployee1(employee1):
  def __init__(self, Name, Age, salary, Id):
    self.Name=Name
    self.Age=Age
    self.salary=salary 
    self.Id=Id   

emp1=employee("Dayanand",23,1234,350000)  
emp2=employee("Daya",23,1334,360000)  
emp3=employee("Ram",24,1235,370000)  
print(emp1.salary)

350000

In [ ]:
#Multi Level Inheritance
class p:
  def m1(self):
    print("Parent Method")
class C(p):
  def m2(self):
    print("Child Method")
class CC(C):
  def m3(self):
    print("Sub Child Method")    
c=CC()
c.m1()
c.m2()  
c.m3()

Parent Method
Child Method
Sub Child Method

In [ ]:
#Multilevel Inheritance Example2
class employee1():
  def __init__(self, Name, Age, Id, salary):
    self.Name=Name
    self.Age=Age
    self.Id=Id
    self.salary=salary

class childemployee1(employee1):
  def __init__(self, Name, Age, salary, Id):
    self.Name=Name
    self.Age=Age
    self.salary=salary 
    self.Id=Id 

class childchildemployee1(childemployee1):
  def __init__(self, Name, salary, Id, Age):
    self.Name=Name
    self.salary=salary 
    self.Id=Id  
    self.Age=Age     

emp1=childemployee1("Dayanand",350000, 1223,34)  
emp2=employee1("Daya",23,1334,360000)  
emp3=employee1("Ram",24,1235,370000)  
print(emp1.Age)

350000

In [ ]:
#Hierarchical Inheritance
class p:
  def m1(self):
    print("Parent Method")
class C1(p):
  def m2(self):
    print("Child1 Method")
class C2(p):
  def m3(self):
    print("Child2 Method")    
c1=C1()
c1.m1()
c1.m2()
c2=C2()
c2.m1()
c2.m3()

Parent Method
Child1 Method
Parent Method
Child2 Method

In [ ]:
#Multiple Inheritance
class P1:
  def m1(self):
    print("Parent1 Method")
class P2:
  def m2(self):
    print("Parent2 Method")
class C(P1,P2):
  def m3(self):
    print("Child2 Method")

c=C()
c.m1()
c.m2()
c.m3()

Parent1 Method
Parent2 Method
Child2 Method

In [ ]:
#Multiple Inheritance_Example2
class P1:
  def m1(self):
    print("Parent1 Method")
class P2:
  def m1(self):
    print("Parent2 Method")
class C(P1,P2):
  def m2(self):
    print("Child Method")

c=C()
c.m1()
c.m2()

Parent1 Method
Child Method

In [ ]:
#Polymorphism
#1_Complile time polymorphism Method Overloading


class employee1:
  def name(self):
    print("Harshit is his name")
  def salary(self):
    print("31000 his  salary")
  def age(self):
    print("23 his age")  


class employee2:
  def name(self):
    print("Harsha is her name")
  def salary(self):
    print("34000 her  salary")
  def age(self):
    print("26 her age")


def func(obj):
  obj.name()
  obj.salary()
  obj.age()

obj_emp1=employee1
obj_emp2=employee2

func(obj_emp1)
func(obj_emp2)

TypeError: ignored

In [ ]:
#Polymorphism example:
#run-time poly:

class employee():
  def __init__(self,name,age,id,salary):
    self.name = name
    self.age = age
    self.salary = salary
    self.id = id
def earn(self):
  pass
class childemployee1(employee):
  def earn(self):
    print("no money")
class childemployee2(employee):
  def earn(self):
    print("has money")
c = childemployee1
c.earn(employee)
d = childemployee2
d.earn(employee)

no money
has money

In [ ]:
#Compile-time Poly:
class employee1():
  def name(self):
    print("Harshit is his name")
  def salary(self):
    print("3000 is his salary")
  def age(self):
    print("22 is his age")
class employee2():
  def name(self):
    print("Rahul is his name")
  def salary(self):
    print("4000 is his salary")
  def age(self):
    print("23 is his age")
  def func(obj):
    obj.name()
    obj.salary()
    obj.age()
    obj_emp1 = employee1()
    obj_emp2 = employee2()
    func(obj_emp1)
    func(obj_emp2)

In [ ]:
class Bird:
  def intro(self):
    print("There are many types of birds.")
      
  def flight(self):
    print("Most of the birds can fly but some cannot.")
    
class sparrow(Bird):
  def flight(self):
    print("Sparrows can fly.")
      
class ostrich(Bird):
  def flight(self):
    print("Ostriches cannot fly.")
      
obj_bird = Bird()
obj_spr = sparrow()
obj_ost = ostrich()
  
obj_bird.intro()
obj_bird.flight()
  
obj_spr.intro()
obj_spr.flight()
  
obj_ost.intro()
obj_ost.flight()

There are many types of birds.
Most of the birds can fly but some cannot.
There are many types of birds.
Sparrows can fly.
There are many types of birds.
Ostriches cannot fly.

In [ ]:
class India():
    def capital(self):
        print("New Delhi is the capital of India.")
   
    def language(self):
        print("Hindi is the most widely spoken language of India.")
   
    def type(self):
        print("India is a developing country.")
   
class USA():
    def capital(self):
        print("Washington, D.C. is the capital of USA.")
   
    def language(self):
        print("English is the primary language of USA.")
   
    def type(self):
        print("USA is a developed country.")
  
def func(obj):
    obj.capital()
    obj.language()
    obj.type()
   
obj_ind = India()
obj_usa = USA()
   
func(obj_ind)
func(obj_usa)

New Delhi is the capital of India.
Hindi is the most widely spoken language of India.
India is a developing country.
Washington, D.C. is the capital of USA.
English is the primary language of USA.
USA is a developed country.

In [ ]:
# length of string
x = len('Daya')
print(x)
 
# length of list
y = len([1, 2, 3, 4])
print(y)

4
4

In [ ]:
#Method Overloading
class GFG:
    def sum(self, a = None, b = None, c = None):        
        s = 0
        if a != None and b != None and c != None:
            s = a + b + c
        elif a != None and b != None:
            s = a + b
        else:
            s = a
        return s
       
s = GFG()
 
# sum of 1 integer
print(s.sum(1))
 
# sum of 2 integers
print(s.sum(3, 5))
 
# sum of 3 integers
print(s.sum(1, 2, 3))

1
8
6

In [ ]:
#Example2:
class Student:
   
    # defining init method for class
    def __init__(self, m1, m2):
        self.m1 = m1
        self.m2 = m2
 
    # overloading the + operator
    def __add__(self, other):
        m1 = self.m1 + other.m1
        m2 = self.m2 + other.m2
        s3 = Student(m1, m2)
        return s3
 
s1 = Student(58, 59)
s2 = Student(60, 65)
s3 = s1 + s2
print(s3.m1)

118

In [ ]:
#Method Overriding
# parent class
class Programming:
   
    # properties
    DataStructures = True
    Algorithms = True
     
    # function practice
    def practice(self):
        print("Practice makes a man perfect")
     
    # function consistency
    def consistency(self):
        print("Hard work along with consistency can defeat Talent")
         
# child class       
class Python(Programming):
     
    # function
    def consistency(self):
        print("Hard work along with consistency can defeat Talent.")
 
Py = Python()
Py.consistency()
Py.practice()

Hard work along with consistency can defeat Talent.
Practice makes a man perfect

In [ ]:
#Method Overriding Example:2

class employee ():
  def __init__(self,name, age, id, salary):
    self.name=Name
    self.age=age
    self.id=id
    self.salary=salary

  def earn(self):
    pass

In [ ]:
#Data Abstraction:

class Person:
    def __init__(self):
        self.name = "Daya John"

    def bio(self):
        self.addr = "Pune street, India"
        self.taxInfo = "INDPUNE29971"
        self.contact = "8805883125"
        print(self.addr, self.taxInfo, self.contact)

    def interest(self):
        self.favFood = "Chicken"
        self.hobbies = "Python Programming"
        self.bloodGroup = "A+"
        print(self.favFood, self.hobbies, self.bloodGroup)

obj = Person()
print(obj.name)
obj.bio()
obj.interest()

Daya John
Pune street, India INDPUNE29971 8805883125
Chicken Python Programming A+

In [ ]:
#Encapsulation
class Mobile:
    def __init__(self, brand, model, price):
        self.brand = brand
        self.model = model
        self.price = price
        
    def call(self, number):
        print("calling to "+str(number))
        
    def main(self):
        return self.brand+" "+str(self.price)
        
obj = Mobile("Cell",1100,26360)
obj.call(8805883125)
print(obj.main())

calling to 8805883125
Cell 26360

In [ ]:
#Example2
# Python program to
# demonstrate protected members
 
 
# Creating a base class
class Base:
    def __init__(self):
         
        # Protected member
        self._a = 2
 
# Creating a derived class   
class Derived(Base):
    def __init__(self):
         
        # Calling constructor of
        # Base class
        Base.__init__(self)
        print("Calling protected member of base class: ")
        print(self._a)
 
obj1 = Derived()
obj2 = Base()
 
# Calling protected member
# Outside class will  result in
# AttributeError
print(obj2._a)
print(obj1._a)

Calling protected member of base class:
2
2
2

In [ ]:
#Encapsulation: Example3
class employee():
  def __init__(self):
    self.__maxearn = 1000000
  def earn(self):
    print("earning is:{}".format(self.__maxearn))
  def setmaxearn(self,earn):
    self.__maxearn = earn
    
    #setter method used for accesing private class 
  
emp1 = employee()
emp1.earn()
emp1.__maxearn = 10000
emp1.earn()
emp1.setmaxearn(10000)
emp1.earn()

earning is:1000000
earning is:1000000
earning is:10000

In [ ]:
#While_loop:

i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

In [ ]:
#Nested if
x = 41

if x > 10:
  print("Above ten,")
  if x > 20:
    print("and also above 20!")
  else:
    print("but not above 20.")

Above ten,
and also above 20!

In [ ]:
#Short Hand if else
a = 2
b = 330
print("A") if a > b else print("B")

B

In [ ]:
#Data Manipulatuion

f=open("/content/sample_data/california_housing_test.csv","r")
print(f.read)

<built-in method read of _io.TextIOWrapper object at 0x7fb13ea85130>

In [ ]:
f=open("/content/sample_data/california_housing_train.csv","r")
#print(f.read)
print(f.readline())
print(f.readline())
print(f.readline())

"longitude","latitude","housing_median_age","total_rooms","total_bedrooms","population","households","median_income","median_house_value"

-114.310000,34.190000,15.000000,5612.000000,1283.000000,1015.000000,472.000000,1.493600,66900.000000

-114.470000,34.400000,19.000000,7650.000000,1901.000000,1129.000000,463.000000,1.820000,80100.000000

In [ ]:
Naming conventions
--variable:-
age=27
Employee_age=27

--Functions:-
def add():
  pass

def calculate_addition():
  pass

--class:-
class FirstTimeExecution:
  pass

--methods:-
class PartTimeEmployee:
  def partial_salary(self):
    pass

--constants:-
PI=3.142
CONSTANT_PI=3.142

--Module-use a short, lowercase words and words seperated by underscore
module.py
module_file.py

Packages:-use a short, lowercase and donot seperate words by underscore
newpackage

In [ ]:
Indentation:-4 spaces
Indentaion:-



age = 18
 if age>=18:
   
  print("eligible to vote")
else:
  print("not eligible to vote")

Line Break:--79 characters
 def add(int_arg, float_arg, 
         string_arg, bool_arg,
         abc_arg, bgbb_arg):
   pass

 Hanging Indents:-
 def add(int_arg, float_arg, 
         string_arg, bool_arg,
         abc_arg, bgbb_arg):
   pass




   Code Layout:-
two blank lines:-
 class Car(ABC):
  def milage(self):
    pass

    
 class Tesla(Car):
  def milage(self):
    print("The milage is 30kmph")

  def calculte_addition():
    pass

 single blank line:-
 class FullTimeEmployee:
   def monthly_salary(self):
     pass

  def yearly_bonus(self):
    pass

 clear step :- 
  
 emp1 = employee()
emp1.earn()

emp1.__maxearn = 100000
emp1.earn()

emp1.setmaxearn(10000)
emp1.earn()

Return


#Comments:-
#Block comments:-
for x in range(0,10):
    # sjdasldkjsadlksjdlskjd
    # ljkjskjsdkjsdksjdskdjskd
    # s;ldks;ldskdlskd;lsdksl;dks;ldk
  print(x)

  class Employee():
    # jsalkdjsladkjsldkj
    # kjsdlskjdsldkjslkdj
    # dkjslsdjsdkdkjkdjsk

Inline comment:-
age = = 10  # kids age
name = 'Abdul Kalam'    # Great scientist

*Documentation comment:
def calculate_addition():
  '''
  here am commenting
  line1 
  line2
  line3
  '''
  print(calculate_addition.__doc__)#magical or dundered variable

In [ ]:

class MyClass:
    """A simple example class"""
    i = 12345

    def f(self):
        return 'hello world'

In [ ]:
x = MyClass()x = MyClass()

class Complex:
...     def __init__(self, realpart, imagpart):
...         self.r = realpart
...         self.i = imagpart
...
x = Complex(3.0, -4.5)
 x.r, x.i
(3.0, -4.5)

In [ ]:
#Abstraction
# abstract_class_example
from abc import ABC, abstractmethod


class Test(ABC):

    @abstractmethod
    def ex(self):
        None

obj = Test()

TypeError: ignored

In [ ]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

p1 = Person("Daya", 36)

print(p1.name)
print(p1.age)

Daya
36

In [ ]:
#Iterator

class nubers:
  def __init__(self):
    self.a=1
    return self
   def __next__(self):
     if self.a<=10:
       x=self.a
       self.a+=1
       return x
     else:

In [ ]:
# Program make a simple calculator

# This function adds two numbers
def add(x, y):
    return x + y

# This function subtracts two numbers
def subtract(x, y):
    return x - y

# This function multiplies two numbers
def multiply(x, y):
    return x * y

# This function divides two numbers
def divide(x, y):
    return x / y


print("Select operation.")
print("1.Add")
print("2.Subtract")
print("3.Multiply")
print("4.Divide")

while True:
    # Take input from the user
    choice = input("Enter choice(1/2/3/4): ")

    # Check if choice is one of the four options
    if choice in ('1', '2', '3', '4'):
        num1 = float(input("Enter first number: "))
        num2 = float(input("Enter second number: "))

        if choice == '1':
            print(num1, "+", num2, "=", add(num1, num2))

        elif choice == '2':
            print(num1, "-", num2, "=", subtract(num1, num2))

        elif choice == '3':
            print(num1, "*", num2, "=", multiply(num1, num2))

        elif choice == '4':
            print(num1, "/", num2, "=", divide(num1, num2))
        break
    else:
        print("Invalid Input")

Select operation.
1.Add
2.Subtract
3.Multiply
4.Divide
Enter choice(1/2/3/4): 2
Enter first number: 10
Enter second number: 5
10.0 - 5.0 = 5.0

In [ ]:
class square:
  def __init__(self,side):
    self.side= side
  def area(self):
    return self.side**2
  def perimeter(self):
    return 4 * self.side   
  def __repr__(self):
    S='Square with side = ' + str(self.side) + '\n' + \
    'Area = ' + str(self.area()) + '\n' + \
    'perimeter = '+ str(self.perimeter())
    return S

if __name__=='__main__':
  side = int(input("Enter the side length"))
  square = square(side)
  print(square)

Enter the side length4
Square with side = 4
Area = 16
perimeter = 16

In [ ]:
square=square(side)
print(square)

TypeError: ignored

In [ ]:
def text_area (self):
  sq=square(2)
  self.assertEqual()

In [ ]:
def add(x,y):
  return(3,2)
  z=x+y  
print(z)

NameError: ignored

In [ ]:
def test_loadTestsFromTestCase_Testsuit_subclass(self):
  class NotATestCase(unitTest.Testsuit):
    pass

  loader = unitTest TestLoader()
  try:
    loader.loadTestsFromTestCase(NotATestCase)
  except TypeError:
    pass
  else:
    self.fail('should raise type Error')

SyntaxError: ignored

In [ ]:
import calendar  
 #And then apply the syntax  
#(calendar.month(yy,mm))

In [ ]:
import calendar  
# Enter the month and year  
yy = int(input("Enter year: "))  
mm = int(input("Enter month: "))  
  
# display the calendar  
print(calendar.month(yy,mm))

Enter year: 2021
Enter month: 4
     April 2021
Mo Tu We Th Fr Sa Su
          1  2  3  4
 5  6  7  8  9 10 11
12 13 14 15 16 17 18
19 20 21 22 23 24 25
26 27 28 29 30

In [ ]:
#Python Program to Find the Sum of Natural Numbers
N= {0, 1, 2, 3, 4, .... and so on}  
N= {1, 2, 3, 4, .... and so on}

In [ ]:
num = int(input("Enter a number: "))  
  
if num < 0:  
   print("Enter a positive number")  
else:  
   sum = 0  
   # use while loop to iterate un till zero  
   while(num > 0):  
       sum += num  
       num -= 1  
   print("The sum is",sum)

Enter a number: 4
The sum is 10

In [ ]:
#Multiplication table 

num = int(input(" Enter the number : "))    

# using for loop to iterate multiplication 10 times     
print("Multiplication Table of : ")  
for i in range(1,11):    
   print(num,'x',i,'=',num*i)

 Enter the number : 2
Multiplication Table of :
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

In [ ]:
#Prime number program

num = int(input("Enter a number: "))  
  
if num > 1:  
   for i in range(2,num):  
       if (num % i) == 0:  
           print(num,"is not a prime number")  
           print(i,"times",num//i,"is",num)  
           break  
   else:  
       print(num,"is a prime number")  
         
else:  
   print(num,"is not a prime number")

Enter a number: 3
3 is a prime number

In [ ]:
#Python Program to Check if a Number is Odd or Even

num = int(input("Enter a number: "))  
if (num % 2) == 0:  
   print("{0} is Even number".format(num))  
else:  
   print("{0} is Odd number".format(num))

Enter a number: 999
999 is Odd number

In [ ]:
#To Print the Hello Woorld

print ('Hello World')

Hello World

In [ ]:
#Python program to do arithmetical operations
# Store input numbers:  

num1 = input('Enter first number: ')  
num2 = input('Enter second number: ')  
  
# Add two numbers  
sum = float(num1) + float(num2)  

# Subtract two numbers  
min = float(num1) - float(num2)  

# Multiply two numbers  
mul = float(num1) * float(num2)  

#Divide two numbers  
div = float(num1) / float(num2)  

# Display the sum  
print('The sum of {0} and {1} is {2}'.format(num1, num2, sum))  
  
# Display the subtraction  
print('The subtraction of {0} and {1} is {2}'.format(num1, num2, min))  

# Display the multiplication  
print('The multiplication of {0} and {1} is {2}'.format(num1, num2, mul))  

# Display the division  
print('The division of {0} and {1} is {2}'.format(num1, num2, div))

Enter first number: 43
Enter second number: 66
The sum of 43 and 66 is 109.0
The subtraction of 43 and 66 is -23.0
The multiplication of 43 and 66 is 2838.0
The division of 43 and 66 is 0.6515151515151515